exclude *.joblib
global-exclude *.joblib
exclude cspell.json
prune test
prune tests
prune testing
prune docs
prune examples
prune tutorial_notebooks
prune sdk_notebooks
prune quantum_sdk_tests
prune .pytest_cache
prune __pycache__
prune build
prune dist
prune .ipynb_checkpoints
prune .venv
prune venv
prune .git
